.container{
	height: 400px;
	width: 100%;
}

.colors{
	height: 400px;
	margin: 10px auto;
	width: 400px;
}

.box{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	font-family: Arial;
	font-size: 9px;
	padding-top: 6px;
	text-align: center;
	text-transform: uppercase;
	height: 10%;
	width: 10%;
}